.common{
    margin-top: 80px;
}

@media(max-width: 980px){
    section{
        position: relative;
    }
    .common{
        margin: unset;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}
