body{
    text-align: center;
}
.navbar{
	background-color: #fff;
    margin-bottom: 0;
    height: 80px;
    position: fixed;
    width: 100%;
}
.navbar img{
    margin: 0;
    padding: 3%;
}
.navbar .container{
    margin: 0;
    width: 100%;
}
.navbar .excel{
    float: right;
}
.colg-logo{
	height: 70px;
}
.excel-logo{
	height: 70px;
	float: right;
}


