#map {
	height: 60vh;
	width: 50%;
}
.route {
	display: flex;
	position: relative;
	flex-wrap: wrap;
}
.waypoints {
	width: 50%;
	margin-top: auto;
	margin-bottom: auto;
}
@media (max-width: 980px) {
	.waypoints {
		width: 100%;
		top: 0;
		margin-bottom: 50px;
	}
	.route {
		position: relative;
	}
	#map {
		height: 50vh;
		width: 100%;
	}
}
@media (max-width: 380px) {
	.waypoints {
		margin-bottom: 25px;
	}
	.route {
		margin-top: 50px;
	}
}
