.sponsor-section{
	position: relative;
	overflow: hidden;
}
.sponsor{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
}
.gold{
	background-color: #263238;
}
.yesbank{
	background-color: #283593;
	display: none;
}
.medical{
	background-color: white;
	display: none;
}

.sponsor-logo{
    width: 35%;
    left: 35%;
    margin-bottom: 30px;
}
.gold-text,.yesbank-text{
	color: white;
}
.sponsor{
    padding-top: 80px;
    margin-top: 50px;
}
@media (min-width: 768px) {
    .sponsor-logo{
        width: 50%;
        left: unset;
    }
    .sponsor-text{
        margin-top: 20vh;

    }
    .sponsor{
        padding-top: unset;
        margin-top: unset;
    }
    .sponsor-contain{
    	position: absolute;
    	top: 50%;
    	left: 50%;
    	transform: translate(-50%,-50%);
    }
    .bank{
    	margin-top: 15vh;
    }

}