.sponsor{
	height: 100vh;
	width: 100vw;
	position: absolute;
	overflow: hidden;

}
.gold{
	background-color: #263238;
}
.yesbank{
	background-color: #283593;
	display: none;
}
.medical{
	background-color: white;
	display: none;
}

.sponsor-logo{
	width: 50%;
	padding: 10%;
	position: absolute;
    left: 6%;
    top: 50%;
    transform: translate(0,-50%);
}
.sponsor-text{
	text-align: center;
	width: 50%;
	padding: 10%;
	float: right;
	position: absolute;
    left: 46%;
    top: 50%;
    transform: translate(0,-50%);
}
.gold-text,.yesbank-text{
	color: white;
}