
.register{
	margin-top: 2%;
	color: #f44336;
    padding-bottom: 2%;
}
.reg-button{
    border: none;
    color: white;
    text-align: center;
    text-decoration:blink;
    display: inline-block;
    cursor: pointer;
    
}
.event-logo{
    width: 80%;
    opacity: 0.5;
    margin: 0 auto;
    margin-bottom: 2%;
}

