.timer-section{
    background: #fff;
    text-align: center;
}

.dial-label{
    color: black;
    
}
.register{
	margin-top: 2%;
	color: #f44336;
    padding-bottom: 2%;
}
.reg-button{
    border: none;
    color: white;
    text-align: center;
    text-decoration:blink;
    display: inline-block;
    cursor: pointer;
    
}
.event-logo{
    width: 30%;
    margin: 0 auto;
    margin-bottom: 2%;
}
