<section class="section">
    <div class="common">
    <div class="contact">
        <h2 class="contact-heading">Contact US</h2>
        <div class="contacts_section">
            <div class="container">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                    <h2 class="contact-head">Elza Tess Varkey</h2>
                    <p>Social Initatives Manager, Excel2017</p>
                    <p>+91 9562391591</p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <h2 class="contact-head">Arjun Saju</h2>
                    <p>Chairman, Excel2017</p>
                    <p>+91 8943239997</p>
                </div>
            </div>
        </div>
        <div class="socialIcons">
            <h4>Follow us on:</h4>
            <div class="social-icons">
                <a href="https://www.facebook.com/excelmec" class="facebook"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>
                <a href="https://www.youtube.com/channel/UCLP9HOgPekLpFzv2xIVwoFg" class="youtube"><i class="fa fa-youtube fa-2x"></i></a>
                <a href="https://www.instagram.com/excelmec/" class="instagram"><i class="fa fa-instagram fa-2x"></i></a>
            </div>
        </div>
    </div>
    </div>
</section>