<nav class="navbar">
    <div class="container nav-container">
        <div class="left">
            <img src="./imgs/mec_logo.png" class="colg-logo">
        </div>
        <div class="right">
            <img src="./imgs/excel2017.png" class="right excel-logo">
        </div>
    </div>
</nav>


