<section class="section">
    <div class="route container">

        <div class="waypoints">
            <h1>Waypoints</h1>
            <p>K.K Premachandran Sports Complex</p>
            <p>Bristow Road</p>
            <p>Venduruthy Bridge</p>
            <p>Ravipuram Junction</p>
            <p>Marine Drive Ground</p>

        </div>
        <div id="map"></div>

    </div>


</section>