<section class="section">
    <div class="route container">

        <div class="waypoints">
            <h1>WayPoints</h1>
            <p>Bridge</p>
            <p>Marine Drive Ground</p>
            <p>Bridge</p>
            <p>Marine Drive ground</p>

        </div>
        <div id="map"></div>

    </div>


</section>