<section class="section">
    <div class="route container">

        <div class="waypoints">
            <h1>Waypoints</h1>
            <p>K.K Premachandran Sports Complex</p>
            <i class="fa fa-arrow-down" aria-hidden="true"></i>
            <p>Bristow Road</p>
            <i class="fa fa-arrow-down" aria-hidden="true"></i>
            <p>Venduruthy Bridge</p>
            <i class="fa fa-arrow-down" aria-hidden="true"></i>
            <p>Ravipuram Junction</p>
            <i class="fa fa-arrow-down" aria-hidden="true"></i>
            <p>Marine Drive Ground</p>
        </div>
        <div id="map"></div>
        <a target="_blank" href="https://www.google.co.in/maps/dir/K.K.Premachandran+Sports+Complex,+Bristow+Road,+Willingdon+Island,+Kochi,+Kerala/Marine+Drive+Ground,+Ernakulam,+Kerala/@9.9587692,76.2638433,14z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x3b086d5f50a46f4b:0x1626e0160115df4b!2m2!1d76.2705403!2d9.9556001!1m5!1m1!1s0x3b080d571d32c3b7:0x2a382c113150ecfa!2m2!1d76.2748523!2d9.981022" class="btn btn-danger" id="map-button" role="button">Show on map</a>

    </div>


</section>