
<section class="section sponsor-section">
	<div class="common container">	
		<div class="sponsor gold">
				<div class="spon-logo-container">
					<img src="./imgs/gold.png" class="sponsor-logo " />
				</div>
	            <div class="sponsor-text">
					<p><b>Gold's Gym</b>, an International fitness centre is  proud to associate with <b>Excel 2017</b>and <b>The Second Lap</b>.The winners of this mini marathon will be rewarded with a year long free membership costing Rs 32,000.
					</p>
	            </div>
		</div>
		<div class="sponsor yesbank">
				<div class="spon-logo-container">
					<img src="./imgs/yesbank.png" class="sponsor-logo" />
				</div>
	            <div class="sponsor-text">
					<p><b>YES BANK</b> is India's fourth largest private sector bank and are the proud sponsors of <b>The Second Lap</b>,which is a mini marathon conducted to spread the message of organ donation.
					</p>
	            </div>
		</div>
		<div class="sponsor medical">
				<div class="spon-logo-container" class="col-lg-6 col-md-6">
					<img src="./imgs/medical.png" class="sponsor-logo" />
				</div>
            	<div class="sponsor-text">
					<p><b>Medical Trust Hospital</b> is a super speciality hospital located at Kochi,and are the  official medical partners of <b>The second Lap</b>.
					</p>
	            </div>
		</div>
	</div>
</section>
